
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
}

.navbar{
    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 80px;

    background-color:white;

    position:sticky;

    top:0;

    z-index:1000;
}

.logo{
    font-size:24px;
    font-weight:bold;
}

.logo span{
    color:#2563eb;
}

/* Navigation */
.nav-links{
    display:flex;

    list-style:none;

    gap:35px;
}

.nav-links a{
    text-decoration:none;

    color:#333;

    font-size:16px;
}

.nav-links a:hover{
    color:#2563eb;
}

.register-btn{

    padding:12px 24px;

    border:none;

    border-radius:8px;

    background:#2563eb;

    color:white;

    font-size:16px;

    cursor:pointer;
}

.register-btn:hover{

    background:#1d4ed8;

}


.hero{

    height:90vh;

    background:
    linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)),
    url("images/hero.jpg");

    background-size:cover;

    background-position:center;

    background-repeat:no-repeat;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

    color:white;

    padding:20px;
}

.hero-content{

    max-width:700px;
}

.hero h1{

    font-size:60px;

    margin-bottom:20px;

    font-weight:700;
}

.hero h1 em{

    font-style:italic;
}

.hero p{

    font-size:20px;

    line-height:1.6;

    margin-bottom:35px;
}

.hero-btn{

    background:#2563eb;

    color:white;

    border:none;

    padding:15px 35px;

    border-radius:10px;

    font-size:18px;

    cursor:pointer;

    transition:0.3s;
}

.hero-btn:hover{

    background:#1d4ed8;
}


.speakers{
    padding:80px 10%;
    background:#f8fafc;
}

.speakers h2{
    text-align:center;
    font-size:40px;
    margin-bottom:50px;
    color:#1e293b;
}

.speaker-grid{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:30px;
}

.speaker-card{

    background:white;

    border-radius:15px;

    overflow:hidden;

    box-shadow:0 8px 20px rgba(0,0,0,0.1);

    transition:0.3s;
}

.speaker-card:hover{

    transform:translateY(-8px);

    box-shadow:0 15px 30px rgba(0,0,0,0.15);
}

.speaker-card img{

    width:100%;

    height:250px;

    object-fit:cover;
}

.speaker-info{

    padding:25px;
}

.track{

    display:inline-block;

    background:#2563eb;

    color:white;

    padding:6px 14px;

    border-radius:20px;

    font-size:14px;

    margin-bottom:15px;
}

.speaker-info h3{

    font-size:24px;

    margin-bottom:10px;

    color:#1e293b;
}

.speaker-info p{

    color:#64748b;

    line-height:1.6;
}


.pricing{
    padding:80px 10%;
    background:#ffffff;
    text-align:center;
}

.pricing h2{
    font-size:42px;
    color:#1e293b;
    margin-bottom:15px;
}

.pricing > p{
    color:#64748b;
    margin-bottom:50px;
    font-size:18px;
}

.pricing-container{
    display:flex;
    gap:30px;
    justify-content:center;
}

.pricing-card{
    flex:1;
    background:#f8fafc;
    border-radius:15px;
    padding:40px 30px;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
    transition:.3s;
}

.pricing-card:hover{
    transform:translateY(-10px);
}

.featured{
    background:#2563eb;
    color:white;
    transform:scale(1.05);
}

.featured ul{
    color:white;
}

.featured button{
    background:white;
    color:#2563eb;
}

.pricing-card h3{
    font-size:28px;
    margin-bottom:15px;
}

.pricing-card h1{
    font-size:48px;
    margin-bottom:25px;
}

.pricing-card ul{
    list-style:none;
    margin-bottom:35px;
    text-align:left;
}

.pricing-card ul li{
    margin:15px 0;
    color:#000403;
}

.pricing-card button{
    width:100%;
    padding:15px;
    border:none;
    border-radius:10px;
    background:#2563eb;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:.3s;
}

.pricing-card button:hover{
    background:#1d4ed8;
}

.footer{
    background:#0f172a;
    color:white;
    padding:50px 10%;
}

.footer-top{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.footer-logo{
    font-size:28px;
    font-weight:bold;
}

.social-links{
    display:flex;
    gap:20px;
}

.social-links a{
    text-decoration:none;
    color:white;
    font-size:18px;
    transition:.3s;
}

.social-links a:hover{
    color:#2563eb;
}

.footer hr{
    border:none;
    height:1px;
    background:#334155;
    margin:30px 0;
}

.copyright{
    text-align:center;
    color:#94a3b8;
}
/* ==========================
   HACKATHON SECTION
========================== */

.hackathon{

    background:#0f172a;

    color:white;

    padding:90px 10%;

    text-align:center;
}

.hackathon h2{

    font-size:42px;

    margin-bottom:20px;
}

.hackathon-subtitle{

    max-width:700px;

    margin:0 auto 60px;

    color:#cbd5e1;

    line-height:1.8;
}

.hackathon-container{

    display:flex;

    gap:30px;

    justify-content:center;

    margin-bottom:50px;

    flex-wrap:wrap;
}

.hack-card{

    background:#1e293b;

    padding:30px;

    border-radius:15px;

    width:300px;

    transition:.3s;

    box-shadow:0 8px 20px rgba(0,0,0,.25);
}

.hack-card:hover{

    transform:translateY(-8px);
}

.hack-card h3{

    margin-bottom:15px;

    color:#60a5fa;
}

.hack-card p{

    color:#cbd5e1;

    line-height:1.6;
}

.hack-btn{

    padding:15px 40px;

    border:none;

    border-radius:10px;

    background:#2563eb;

    color:white;

    font-size:18px;

    cursor:pointer;

    transition:.3s;
}

.hack-btn:hover{

    background:#1d4ed8;
}